<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/about-us-layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/about-us-layout.html :: header}"></header>
<article class="about-us container-fluid">
    <header>
        <h1 class="about-us-headline">
            Open Positions
        </h1>
    </header>
    <section>
        <div class="about-us-div">
            <p>
                CyberSure Security is expanding its team with a select group of professionals who can help shape the
                future of cyber insurance. If you have the skills and vision, we want you on board.
            </p>
        </div>
        <h4 class="about-us-headline">
            Cybersecurity & Risk Management
        </h4>
        <div class="about-us-div">
            <p>
                <span class="text-cyber-yellow">Cybersecurity Engineer</span> – Strengthen our security infrastructure
                and defend against evolving cyber threats.
            </p>
            <p>
                <span class="text-cyber-yellow">Penetration Tester</span> – Conduct ethical hacking to identify and
                resolve security vulnerabilities.
            </p>
            <p>
                <span class="text-cyber-yellow">Cyber Insurance Risk Analyst</span> – Evaluate emerging cyber threats
                and refine our insurance policies accordingly.
            </p>
        </div>
        <h4 class="about-us-headline">
            AI & Data Science
        </h4>
        <div class="about-us-div">
            <p>
                <span class="text-cyber-yellow">Machine Learning Engineer</span> – Develop AI-driven risk assessment tools to enhance predictive security measures.
            </p>
            <p>
                <span class="text-cyber-yellow">Data Scientist (Fraud & Threat Detection)</span>  – Analyze cyber risks and improve claim verification accuracy.
            </p>
        </div>
        <h4 class="about-us-headline">
            Insurance & Claims
        </h4>
        <div class="about-us-div">
            <p>
                <span class="text-cyber-yellow">Claims Specialist (Cyber & Augmented Insurance)</span> – Handle complex claims related to digital assets and cybernetic enhancements.
            </p>
            <p>
                <span class="text-cyber-yellow">Policy Strategist</span> – Design innovative insurance solutions that adapt to the rapidly changing digital landscape.
            </p>
        </div>
        <h4 class="about-us-headline">
            Development & Technology
        </h4>
        <div class="about-us-div">
            <p>
                <span class="text-cyber-yellow">Software Engineer (Security & Insurance Platforms)</span> – Build and maintain secure, cutting-edge digital insurance platforms.
            </p>
        </div>
    </section>
</article>
<footer th:replace="~{fragments/about-us-layout.html :: footer}"></footer>
</body>
</html>